header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 1.5rem;
    position:fixed;
    width: 100%;
    top: 0%;
    display: flex;
    border-bottom: 1px solid brown;
    background-color: wheat;
    justify-content: flex-start;
    z-index: 100;

}
.nave a{
    margin-left: 40%;
    margin-top: 1.5%;
    text-decoration: none;
    color: blue;
    justify-content: end;
}
.nave a:hover{
    color: rgb(225, 129, 20);
}

.nave{
    display: flex;
    margin-left: 200px;
    margin-top: 2px;
}

.logo{
    font-size: 30px;
    color: rgb(225, 129, 20);
}

body{
    background-color: wheat;
    padding-top: 100px;
    margin:0;
}
.info{
    padding:2rem;
    display: grid;
    grid-template-columns:20fr 15fr;
    background: linear-gradient(to bottom, wheat 85%, rgb(251, 250, 250) 100%);
    margin-bottom: 0%;
}

.horario{
    background-color: #b67a6a;
    height: 370px;
    width: 101%;
    text-align: center;
    margin: auto;
    margin-left: 20px;
    border-radius: 20px;
}


.botonmenu{
   display: inline-flex;
   align-items: center;
   width: 100px;
   height: 40px;
   background: orange;
   border: none;
   border-radius: 7px;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
    display: flexbox;
    margin: 0% auto;
}

.botonmenu::after {
    content: "";
    background-color: rgb(211, 230, 113);
    width: 300px;
   height: 80px;    
   position: absolute;
   z-index: 1;
   top: 80px;
   left: 0%;
   transition: 0.3s ease-in-out;
}
span{
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
}
.botonmenu:hover::after{
    top: 0;
}
.contenido h1{
    font-family: sans-serif;
    font-size: 3rem;
    font-style: oblique;
}

.imagen{
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease;
    max-height: 500px;
    margin-top: 30px;
    display: block;
    margin: 0 auto;
}
.imagen:hover{
    transform: scale(1.2);
    
}


.comidas{
    background-color: rgb(251, 250, 250);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    padding: 2rem;
    
}

.secciontam{
    display: grid;
    grid-column: 1 / -1;   
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6rem;
    padding: 2rem;
    align-items: start;
    margin-left: 24px;
    
}

.tp{
    background-color: #3D2E2A;
    border-radius: 10px;
    box-shadow: 0px 1px 40px;
    text-align: justify;
    position: relative;
    padding: 15px;
    padding-top: 2px;
    padding-left: 60px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    transition: transform 0.2s ease;
    }

.tp:hover{
    transform: scale(1.1);
    background-color: antiquewhite;
    color: #3D2E2A;
}

 
.tp p{
    color: antiquewhite;
}

.tp h3{
    color: whitesmoke;
}


.imagen-tamaño{
  position: absolute;
  top: -40px;      
  left: -65px;    
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.comidas h2 {
    text-align: center;
    grid-column: 1 / -1; /* que ocupe TODAS las columnas, de la primera a la última */
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 5px;
    background-color: bisque;
    border: none;
    border-radius: 20px;
    width:30% ;
     display: block;
    margin: 0 auto;
    
}
.tamaños {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 5px;
    background-color: bisque;
    border: none;
    width:40% ;
    grid-column: 1 / -1
    
}

.comi h3{
    color: rgb(25, 51, 154);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comi p{
    color: rgb(32, 46, 149);
    margin: 20px 20px 20px 
}

.pepe{
    height: 150px;
    width: 250px;
    margin-left: 5%;
    border-radius: 10px;
    display: block;
  margin: 0 auto;
}

.hawa{
    height: 150px;
    width: 250px;
    margin-left: 4%;
    border-radius: 10px;
    display: block;
  margin: 0 auto;
}


.champi{
    height: 150px;
    width: 250px;
    margin-left: 4%;
    border-radius: 10px;
    display: block;
  margin: 0 auto;
}

.fria{
    height: 150px;
    width: 250px;
    margin-left: 4%;
    border-radius: 10px;
    display: block;
  margin: 0 auto;
}

.pastor{
    height: 150px;
    width: 240px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


.comi{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
box-shadow: 0px 1px 40px;
transition: transform 0.2s ease;
text-align: justify;
}
.comi:hover{
        transform: scale(1.1);

}

.comidas h3{
    text-align: center;
}