header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 1.5rem;
    position:fixed;
    width: 100%;
    top: 0%;
    display: flex;
    border-bottom: 1px solid brown;
    background-color: wheat;
    justify-content: flex-start;
    z-index: 100;

}
.nave a{
    margin-left: 40%;
    margin-top: 1.5%;
    text-decoration: none;
    color: blue;
    justify-content: end;
}
.nave a:hover{
    color: rgb(225, 129, 20);
}

.nave{
    display: flex;
    margin-left: 200px;
    margin-top: 2px;
}

.logo{
    font-size: 30px;
    color: rgb(225, 129, 20);
}

body{
    background-color: wheat;
    padding-top: 100px;
}
.info{
    padding: rem 5%;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
    max-width: 100vw;
    border-radius: 20px;
}

.boton{
    border-radius: 40px;
    border:none;
    padding: 2%;
    color:white;
    background-color: coral;
}
.contenido h1{
    font-family: sans-serif;
    font-size: 3rem;
    font-style: oblique;
}

.imagen{
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease;
    max-height: 500px;
    margin-top: 30px;
}
.imagen:hover{
    transform: scale(1.2);
}


.comidas{
    background-color: rgb(251, 250, 250);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.comidas h2 {
    text-align: center;
    grid-column: 1 / -1; /* que ocupe TODAS las columnas, de la primera a la última */
}

.comi h3{
    color: rgb(25, 51, 154);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comi p{
    color: rgb(32, 46, 149);
    margin: 20px 20px 20px 
}

.pepe{
    height: 150px;
    width: 250px;
    margin-left: 5%;
    border-radius: 10px;

}

.hawa{
    height: 150px;
    width: 250px;
    margin-left: 4%;
    border-radius: 10px;
}


.champi{
    height: 150px;
    width: 250px;
    margin-left: 4%;
    border-radius: 10px;
}



.comi{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
box-shadow: 0px 10px 40px;
transition: transform 0.2s ease;
text-align: justify;
}
.comi:hover{
        transform: scale(1.1);

}

.comidas h3{
    text-align: center;
}